
.maingrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: start;
}


.flex{
    display: flex;
    flex-direction: column;
}

h1{
    grid-column: 3/span 3;
    text-align: center;
    height: auto;
    min-height: 0;
    display: inline-block;
}

.links{
    grid-column: 3 /span 3;
    align-items: center;
}

@media(max-width: 819px){
    .links{
        grid-column: 2/ span 5;
    }
    h1{
        grid-column: 2/ span 5;
    }
}

.button{
    margin: 15px;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
}